pkgbase = nut-nosystemd-openrc
	pkgdesc = Network UPS Tools - systemd-free version for OpenRC systems
	pkgver = 2.8.3
	pkgrel = 1
	url = https://networkupstools.org/
	install = nut-nosystemd-openrc.install
	arch = x86_64
	arch = i686
	arch = aarch64
	arch = armv7h
	license = GPL2
	license = GPL3
	makedepends = asciidoc
	makedepends = python
	makedepends = gperf
	depends = libusb
	depends = openssl
	depends = net-snmp
	depends = libudev
	depends = gd
	optdepends = libmodbus: for Modbus support
	optdepends = neon: for XML/HTTP support
	optdepends = powerman: for PowerMan PDU support
	provides = nut
	conflicts = nut
	backup = etc/nut/nut.conf
	backup = etc/nut/ups.conf
	backup = etc/nut/upsd.conf
	backup = etc/nut/upsd.users
	backup = etc/nut/upsmon.conf
	backup = etc/nut/upssched.conf
	backup = etc/nut/hosts.conf
	source = https://github.com/networkupstools/nut/releases/download/v2.8.3/nut-2.8.3.tar.gz
	source = nut.initd
	source = upsd.initd
	source = upsmon.initd
	sha256sums = d6ca17f0b39003bac7649eb17ab4a713e4d5fcaa8fd1aedca28357d59df095ed
	sha256sums = da579e41c63d922aad57425d5860b76944f3bf26363feca959ac3b1cc742bad8
	sha256sums = af207924f8385ec6da4ecd6e0863af2e8121e450ab9f6ba811e605b018b78c83
	sha256sums = 71242a51a31c2c15948fe5aa7e25b96ff22f80a96ec01315150d8b54ffd81e91

pkgname = nut-nosystemd-openrc
